* {
  text-align: center;
  vertical-align: baseline;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  /* z-index: -1; */
}

body {
  background-color: #1d252d;
  font-family: Arial, sans-serif;
  font-size: 28px;
  /* z-index: -1; */
}

.header {
  position: relative;
  z-index: 1;
  margin: 2em auto 1.2em auto;
}
/* .layout {
  z-index: 160;
} */

/**** LAYOUT ****/
.wrapper_bg1, 
.wrapper_bg2, 
.wrapper_bg3, 
.wrapper_bg4, 
.wrapper_bg5 {
  position: absolute;
  z-index: -2;
}
/* верхняя черная мазня */
.wrapper_bg1 {
  top: -360px;
  left: 50%;
  transform: translateX(-50%);
  width: 607px;
}
/* полосатость */
.wrapper_bg2 {
  top: 47px;
  right: -55px;
  width: 132px;
}
/* стрелка */
.wrapper_bg3 {
  bottom: -300px;
  left: 0px;
  width: 550px;
}
/* нижняя черная мазня */
.wrapper_bg4 {
  bottom: -461px;
  left: 62%;
  transform: translateX(-50%);
  width: 607px;
}
/* иконки */
.wrapper_bg5 {
  right: 90px;
  bottom: -200px;
  width: 200px;
}

/*=== МЕДИА ЗАПРОСЫ ===  */
@media screen and (max-width:425px) {
  * {
    font-size: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  html {
    overflow: hidden;
    background: pink; 
    max-width: 100vw;
  }
  body {
    height: 100vh; 
    max-width: 100vw; 
  }
  /* верхняя черная мазня */
  .wrapper_bg1 {
    top: -360px;
    left: 20%;
    /* transform: translateX(-50%); */
    width: 300px;
  }
  /* полосатость */
  .wrapper_bg2 {
    top: 20px;
    right: 0;
    width: 30px;
  }
  /* стрелка */
  .wrapper_bg3 {
    bottom: 20px;
    left: -150px;
    width: 250px;
  }
  /* нижняя черная мазня */
  .wrapper_bg4 {
    bottom: 0;
    left: 0;
    width: 100px;
  }
  /* иконки */
  .wrapper_bg5 {
    right: 40px;
    bottom: 70px;
    width: 150px;
  }
  .header {
    height: 90px; 
  }
  .header img {
    width: 50%;
  }
}
/*=== КОНЕЦ МЕДИА ЗАПРОСОВ ===  */

