
.mainWrapper {
  position: relative;
  border: 3px solid red;
  height: 100vh;
}

.mainBlock {
  position: relative;
  background: white;
  color: black;
  width: 400px;
  height: 200px;
}
.child {
  position: absolute;
  background: white;
  color: black;
  width: 200px;
  height: 50px;
  border: 1px solid pink;
  top: 0;
  left: 0;
}
.round {
  height: 50px;
  position: absolute;
}